<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>web_crud_banana</display-name>
	<filter>
		<filter-name>EncodingFilter</filter-name>
		<filter-class>jp.co.sss.emanage.filter.EncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>EncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>LoginCheckFilter</filter-name>
		<filter-class>jp.co.sss.emanage.filter.LoginCheckFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginCheckFilter</filter-name>
		<url-pattern>/InfoSelectServlet</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>ManageCheckFilter</filter-name>
		<filter-class>jp.co.sss.emanage.filter.ManageCheckFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ManageCheckFilter</filter-name>
		<url-pattern>/ManageSelectServlet</url-pattern>
	</filter-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>